{%- if show_arrow != false -%}
  <div class="swiper-arrow swiper-next swiper-button-next box-shadow"><i class="icon-chevron-right"></i></div>
  <div class="swiper-arrow swiper-prev swiper-button-prev box-shadow"><i class="icon-chevron-left"></i></div>
{%- endif -%}
{%- if show_bullet != false -%}
  <div class="swiper-pagination"></div>
{%- endif -%}
