.section-blog{
    --posts-title-color: #212529;
}
.bls__blog-posts-title a{
    color: var(--posts-title-color);
}
#bls__blog-container .bls__blog-posts-item {
    margin-bottom: calc(var(--bs-gutter-x) + 10px);
}

.blos__blog-posts-info {
    padding-top: 2.5rem;
}

.bls__blog-posts-item .bls__blog-posts-tag {
    display: block;
    font-size: 11px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
}

.article-metas span,
.bls__blog-posts-author,
.bls__blog-posts-date {
    color: var(--grey-color);
}

@media (min-width: 768px) {
    .blog-posts-item-list .blos__blog-posts-info {
        padding-top: 0;
    }
}
@media (min-width: 1024px) {
    .blog-posts-item-list{
        --bs-gutter-x: 50px !important;
    }
}
