/* mini cart
-----------------------------------------------------------------*/
.bls-minicart-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#form-mini-cart {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.bls-minicart-body {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.bls-minicart-body .bls-items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: overlay;
    overflow-x: hidden;
    padding: 0 3rem 3rem;
}

.bls-cart-body .cart-empty {
    padding: 5rem 3rem 3rem;
}

.bls-cart-body .cart-empty .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bls-cart-body .cart-empty .empty svg {
    margin-bottom: 1.6rem;
}

.header_minicart.active .bls-minicart-wrapper {
    padding: 0;
}

.bls-minicart-content .bls-minicart-header {
    padding: 1.4rem 3rem;
    position: relative;
    border-bottom: 1px solid var(--border-color-base);
}

.bls-minicart-content .bls-minicart-header~.cart-countdown-time {
    margin-top: 2rem;
}

.bls-minicart-content .bls-minicart-header~.checkout-form {
    margin-top: 2rem;
}

.bls-minicart-heading {
    font-size: 1.8rem;
}

.bls-minicart-header .button-close {
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .bls-minicart-header .button-close {
        right: 15px;
    }
}

.bls-minicart-product-info {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.bls-minicart-product__image {
    width: 87px;
}

.bls-minicart-product__image a {
    display: block;
    width: 100%;
}

.bls-items .cart-item {
    border-bottom: 1px dashed var(--border-color-base);
}

.bls-items .cart-item:last-child {
    border: 0;
    margin: 0;
    padding: 0;
}

.bls-minicart-product-name {
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.bls-minicart-item-variant {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--grey-color);
    line-height: 1;
}

.bls-minicart-item-variant>div {
    margin-top: 5px;
}

.bls-minicart-item-variant .label {
    display: none;
}

.bls-minicart-item-variant .product-option::after {
    content: "/";
    padding-right: 5px;
}

.bls-minicart-item-variant .product-option:last-child::after {
    display: none;
}

.bls-minicart-bottom a {
    font-size: 0;
    color: var(--grey-color);
    margin: 0 0 10px;
}

.bls-minicart-bottom a:hover {
    color: var(--btn-link-color);
}

.bls-minicart-bottom a span {
    font-size: 1.4rem;
}

.bls-minicart-bottom {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    right: 0;
    top: -3px;
}

.bls-minicart-bottom svg [fill]:not([fill=none]) {
    fill: currentColor;
}

.bls-minicart-bottom svg:hover {
    color: var(--btn-link-color);
}

.bls-minicart-actions .bls-quantity-input {
    height: 30px;
    font-size: 14px;
    width: 37px;
    --input-padding: 1rem 0.5rem;
}

.bls-item-quantity {
    padding: 0 1rem;
}

.bls-minicart-item-prices {
    font-weight: 500;
    margin-top: 1rem;
}

.bls-minicart-item-prices quantity-input {
    background-color: var(--light-grey-color);
}

.bls-minicart-item-prices quantity-input .quantity__button {
    width: 25px;
}

.bls-cart-summary {
    margin-bottom: 1.5rem;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
}

.bls-drawer-bottom {
    padding: 0 3rem;
}

.bls-cart-summary .bls-subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 600;
    order: -1;
}

.bls-drawer-bottom {
    display: flex;
    flex-direction: column;
    --btn-padding: 1.4rem 2.5rem;
}

.bls-drawer-bottom .viewcart {
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid var(--border-color-base);
}

.bls-drawer-bottom .checkbox-group {
    --border-color-base: #dbdbdb;
}

.bls-drawer-bottom .checkbox-group .checkmark:before {
    background-color: var(--color-white);
}

.cart_threshold {
    background: var(--light-grey-color);
    padding: 3.5rem 3rem 2rem;
    color: var(--btn-link-color);
    border-bottom: 1px solid var(--border-color-base);
    font-size: 1.4rem;
}

.cart_shipping .cart_thres_2 .bold {
    color: var(--primary-color);
    font-weight: 600;

}

.cart_bar_w {
    height: 5px;
    border-radius: 5px;
    background-color: var(--border-color-base);
    margin-bottom: 1.2rem;
    position: relative;
}

.cart_bar_w span {
    display: block;
    height: 100%;
    position: relative;
    border-radius: 5px;
    transition: var(--bls-transition);
    animation: 5s linear infinite progress;
    background-color: var(--primary-color);
    -webkit-background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 0, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
    -moz-background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 0, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
    -ms-background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 0, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 0, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
    background-size: 40px 40px;
}

.bls__cart-thres .bold {
    color: var(--primary-color);
    font-weight: 600;
}

.cart_bar_w span::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    transition: var(--bls-transition);
    background: #fff url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8015 6.61104L17.711 5.59952C17.6367 5.53058 17.5796 5.44506 17.5446 5.34991L16.6882 3.0245C16.5657 2.69678 16.3463 2.41417 16.0591 2.21432C15.772 2.01448 15.4307 1.90691 15.0809 1.90594H13.7833V1.54193C13.7833 1.38539 13.7212 1.23526 13.6105 1.12457C13.4998 1.01388 13.3496 0.951691 13.1931 0.951691H5.35161C5.23493 0.950317 5.12232 0.9945 5.03771 1.07485C4.9531 1.1552 4.90316 1.26538 4.89851 1.38197C4.89743 1.44025 4.90796 1.49816 4.92951 1.55232C4.95106 1.60648 4.98319 1.65581 5.02402 1.69741C5.06485 1.73901 5.11356 1.77206 5.16731 1.79462C5.22106 1.81718 5.27876 1.8288 5.33705 1.8288H12.9062V5.63436C12.9062 5.7909 12.9684 5.94103 13.0791 6.05172C13.1898 6.16242 13.3399 6.2246 13.4964 6.2246H17.061L18.1197 7.17734V10.7313H17.1599C17.0643 10.3131 16.8296 9.93973 16.4942 9.6723C16.1587 9.40487 15.7424 9.25924 15.3134 9.25924C14.8845 9.25924 14.4682 9.40487 14.1327 9.6723C13.7973 9.93973 13.5626 10.3131 13.467 10.7313H10.5136C10.4181 10.3131 10.1833 9.93973 9.84791 9.6723C9.51247 9.40487 9.09619 9.25924 8.66719 9.25924C8.2382 9.25924 7.82191 9.40487 7.48648 9.6723C7.15104 9.93973 6.91633 10.3131 6.82075 10.7313H5.35157C5.23488 10.7299 5.12226 10.7741 5.03765 10.8545C4.95305 10.9349 4.90313 11.0451 4.89851 11.1617C4.89743 11.22 4.90796 11.2779 4.92951 11.332C4.95106 11.3862 4.98319 11.4355 5.02402 11.4771C5.06485 11.5187 5.11357 11.5518 5.16731 11.5743C5.22106 11.5969 5.27876 11.6085 5.33705 11.6085H6.82814C6.92972 12.0194 7.16602 12.3845 7.49933 12.6455C7.83265 12.9064 8.24376 13.0482 8.66707 13.0482C9.09038 13.0482 9.5015 12.9064 9.83481 12.6455C10.1681 12.3845 10.4044 12.0194 10.506 11.6085H13.4745C13.576 12.0194 13.8123 12.3845 14.1457 12.6455C14.479 12.9064 14.8901 13.0482 15.3134 13.0482C15.7367 13.0482 16.1478 12.9064 16.4811 12.6455C16.8144 12.3845 17.0507 12.0194 17.1523 11.6085H18.4066C18.5631 11.6085 18.7133 11.5463 18.824 11.4356C18.9346 11.325 18.9968 11.1748 18.9968 11.0183V7.04972C18.9968 6.967 18.9794 6.88521 18.9457 6.80965C18.9121 6.73409 18.8629 6.66642 18.8015 6.61104V6.61104ZM13.7833 5.34759V2.78302H15.0809C15.2517 2.78348 15.4183 2.836 15.5585 2.93358C15.6987 3.03116 15.8059 3.16915 15.8656 3.32917L16.6132 5.34759H13.7833ZM8.66709 12.171C8.46588 12.171 8.26919 12.1113 8.10189 11.9995C7.9346 11.8877 7.8042 11.7288 7.72721 11.543C7.65021 11.3571 7.63007 11.1525 7.66932 10.9552C7.70858 10.7578 7.80547 10.5766 7.94775 10.4343C8.09003 10.292 8.2713 10.1951 8.46864 10.1559C8.66598 10.1166 8.87053 10.1368 9.05642 10.2138C9.24231 10.2908 9.40119 10.4212 9.51297 10.5885C9.62475 10.7558 9.68441 10.9525 9.68441 11.1537C9.6841 11.4234 9.57682 11.682 9.3861 11.8727C9.19538 12.0634 8.9368 12.1707 8.66709 12.171V12.171ZM15.3134 12.171C15.1122 12.171 14.9155 12.1113 14.7482 11.9995C14.5809 11.8877 14.4505 11.7289 14.3735 11.543C14.2965 11.3571 14.2764 11.1525 14.3156 10.9552C14.3549 10.7578 14.4518 10.5766 14.594 10.4343C14.7363 10.292 14.9176 10.1951 15.1149 10.1559C15.3123 10.1166 15.5168 10.1368 15.7027 10.2138C15.8886 10.2908 16.0475 10.4212 16.1593 10.5885C16.271 10.7558 16.3307 10.9525 16.3307 11.1537C16.3304 11.4234 16.2231 11.682 16.0324 11.8727C15.8417 12.0634 15.5831 12.1707 15.3134 12.171V12.171Z' fill='%23DD3842' stroke='%23DD3842' stroke-width='0.3'/%3E%3Cpath d='M3.46986 4.28249H8.44355C8.55988 4.28249 8.67144 4.23628 8.7537 4.15403C8.83595 4.07177 8.88216 3.96021 8.88216 3.84388C8.88216 3.72756 8.83595 3.61599 8.7537 3.53374C8.67144 3.45148 8.55988 3.40527 8.44355 3.40527H3.46986C3.35353 3.40527 3.24197 3.45148 3.15972 3.53374C3.07746 3.61599 3.03125 3.72756 3.03125 3.84388C3.03125 3.96021 3.07746 4.07177 3.15972 4.15403C3.24197 4.23628 3.35353 4.28249 3.46986 4.28249V4.28249Z' fill='%23DD3842' stroke='%23DD3842' stroke-width='0.3'/%3E%3Cpath d='M8.87579 6.27994C8.87579 6.16361 8.82958 6.05205 8.74732 5.96979C8.66507 5.88754 8.55351 5.84133 8.43718 5.84133H1.43472C1.3768 5.84081 1.31934 5.85177 1.26567 5.87358C1.21201 5.89539 1.16319 5.92761 1.12204 5.96839C1.0809 6.00917 1.04824 6.05769 1.02595 6.11116C1.00366 6.16463 0.992188 6.22199 0.992188 6.27992C0.992188 6.33785 1.00366 6.3952 1.02595 6.44867C1.04824 6.50214 1.0809 6.55067 1.12204 6.59145C1.16319 6.63223 1.21201 6.66445 1.26567 6.68626C1.31934 6.70807 1.3768 6.71903 1.43472 6.71851H8.43718C8.5535 6.71851 8.66506 6.6723 8.74731 6.59006C8.82957 6.50781 8.87578 6.39626 8.87579 6.27994V6.27994Z' fill='%23DD3842' stroke='%23DD3842' stroke-width='0.3'/%3E%3Cpath d='M6.10138 8.71641C6.10138 8.65881 6.09003 8.60178 6.06799 8.54857C6.04595 8.49536 6.01365 8.44701 5.97292 8.40629C5.9322 8.36556 5.88385 8.33326 5.83064 8.31122C5.77743 8.28918 5.7204 8.27783 5.6628 8.27783H2.61437C2.49873 8.27887 2.38818 8.32553 2.30677 8.40767C2.22536 8.48981 2.17969 8.60078 2.17969 8.71642C2.17969 8.83207 2.22536 8.94304 2.30677 9.02518C2.38818 9.10732 2.49873 9.15398 2.61437 9.15502H5.6628C5.77912 9.15501 5.89068 9.10879 5.97292 9.02654C6.05517 8.94428 6.10138 8.83273 6.10138 8.71641V8.71641Z' fill='%23DD3842' stroke='%23DD3842' stroke-width='0.3'/%3E%3C/svg%3E") center center no-repeat;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translate(50%, -50%);
    margin-top: -1px;

}

.cart_shipping_free .cart_bar_w span::after {
    right: 15px;
}

.cart_shipping_free .cart_shipping {
    animation: flash 0.8s linear 0.8s 2 both;
}

.cart-countdown-time {
    font-size: 1.4rem;
    margin: 0 3rem 2rem;
    margin-bottom: 0;
    position: relative;

}

.cart-countdown-time .countdown-message {
    padding: 0 0 2rem 0;
    padding-left: 20px;
    border-bottom: 1px dashed var(--border-color-base);
}

.countdown-message strong {
    color: var(--primary-color);
    padding-left: 3px;
    display: inline-block;
}

.countdown-message {
    position: relative;
    padding-left: 20px;
}

.cart-wrapper .cart-countdown-time {
    --countdown-time-color: #E8F5FF;
    text-align: center;
    background-color: var(--countdown-time-color);
    border-radius: 5px;
    margin: 0 0 clamp(3rem, 3.5vw, 5rem);
    color: var(--color-link);
    padding: 1.3rem;
}

.cart-wrapper .countdown-message {
    display: inline-block;
    padding: 0 0 0 20px;
    border: 0;
}

.countdown-message::before {
    background: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.60503 15.4994C3.16846 15.4994 0.978724 13.9431 0.248687 11.6185C0.0942488 11.1268 0.000218391 10.6048 0.000218391 10.0629C0.000218391 7.03101 2.48246 4.58459 2.48246 4.58459C2.48246 4.58459 2.31146 5.57495 2.41785 6.41796C2.52423 7.26097 2.91629 7.77848 2.91629 7.77848C2.91629 7.77848 2.62999 6.45478 3.01038 5.56729C3.44823 4.54582 4.26489 4.07197 4.5786 3.15224C4.93967 2.09369 4.39863 0.86264 4.39863 0.86264C4.39863 0.86264 6.17818 1.55027 7.46412 3.32474C8.92256 5.33727 7.93979 7.9301 7.93979 7.9301C7.93979 7.9301 8.07573 7.21392 8.81279 6.63368C9.54985 6.05344 9.25126 5.15353 9.25126 5.15353C9.25126 5.15353 11.2437 7.38649 11.2437 10.0629C11.2437 10.7895 11.0356 11.5223 10.7325 12.2044C9.83621 14.2209 7.81183 15.4994 5.60503 15.4994Z' fill='%23D10028'/%3E%3Cpath d='M2.48279 4.58521C2.48279 4.58521 2.38995 5.12348 2.38374 5.74405C1.80287 6.71698 1.25506 8.01201 1.25506 9.4362C1.25506 9.97818 1.34909 10.5001 1.50353 10.9919C2.23357 13.3165 4.42331 14.8727 6.85988 14.8727C7.51483 14.8727 8.15335 14.7593 8.75146 14.5482C7.83857 15.1573 6.74659 15.5 5.6053 15.5C3.16873 15.5 0.978993 13.9438 0.248956 11.6192C0.0945177 11.1274 0.000487328 10.6055 0.000487328 10.0635C0.00055027 7.03162 2.48279 4.58521 2.48279 4.58521Z' fill='%23B7022D'/%3E%3Cpath d='M2.79232 11.3895C2.79232 9.85849 3.79667 8.87102 4.42208 8.23752C5.5357 7.10922 5.33798 5.82541 5.33798 5.82541C5.33798 5.82541 7.52063 7.70188 7.86356 9.2583C8.19145 10.7469 7.36663 11.5744 7.36663 11.5744C7.36663 11.5744 7.75097 11.4261 7.98996 11.1602C8.29438 10.8217 8.40378 10.4115 8.40378 10.4115C8.40378 10.4115 8.531 10.7193 8.3642 11.7724C8.24564 12.5209 7.85673 13.0811 7.40037 13.4933C6.29121 14.4952 4.56146 14.3982 3.55617 13.2921C3.12541 12.8183 2.79232 12.1923 2.79232 11.3895Z' fill='%23FFA91A'/%3E%3Cpath d='M7.10106 11.4353C7.1343 11.4353 7.16748 11.4222 7.19214 11.3961C7.24326 11.3422 7.69189 10.8433 7.69189 9.94592C7.69189 9.74055 7.66787 9.52739 7.62057 9.31242C7.55126 8.99778 7.394 8.64279 7.15325 8.25733C7.11655 8.19855 7.03921 8.18061 6.98037 8.21737C6.92159 8.25407 6.90371 8.33147 6.94041 8.39025C7.16598 8.75138 7.31232 9.07976 7.37549 9.36637C7.4189 9.56365 7.44092 9.75861 7.44092 9.94592C7.44092 10.7598 7.0276 11.2049 7.00997 11.2235C6.9623 11.2738 6.96437 11.3532 7.01468 11.4008C7.03902 11.4239 7.07007 11.4353 7.10106 11.4353ZM6.76439 8.03458C6.79017 8.03458 6.81621 8.02667 6.8386 8.01024C6.89443 7.96921 6.90647 7.89068 6.86545 7.83485L6.82863 7.78511C6.78716 7.72959 6.70863 7.71824 6.65305 7.75957C6.59753 7.80104 6.58612 7.87964 6.62752 7.93515L6.66327 7.98339C6.6878 8.01689 6.72588 8.03458 6.76439 8.03458Z' fill='%23FFC91D'/%3E%3Cpath d='M4.42393 8.23749C5.53756 7.10919 5.33984 5.82538 5.33984 5.82538C5.33984 5.82538 6.03324 6.42162 6.69986 7.22059C6.08612 7.85541 5.30339 8.78317 5.30339 10.1348C5.30339 10.9376 5.63648 11.5637 6.06724 12.0376C6.55865 12.5783 7.22327 12.8772 7.90381 12.9251C7.75589 13.1397 7.58471 13.3286 7.40229 13.4933C6.29312 14.4952 4.56338 14.3983 3.55809 13.2922C3.12733 12.8183 2.79424 12.1922 2.79424 11.3894C2.79418 9.85846 3.79859 8.87105 4.42393 8.23749Z' fill='%23F79219'/%3E%3Cpath d='M4.42153 8.23749C5.53516 7.10919 5.33743 5.82538 5.33743 5.82538C5.33743 5.82538 5.77509 6.20206 6.28909 6.75715C6.15103 7.03623 5.95456 7.32805 5.67611 7.6102C5.05077 8.24376 4.04635 9.23117 4.04635 10.7621C4.04635 11.5649 4.37944 12.191 4.8102 12.6649C5.48008 13.4019 6.47151 13.6902 7.38672 13.5046C6.27705 14.4941 4.55703 14.394 3.55563 13.2922C3.12487 12.8183 2.79178 12.1922 2.79178 11.3894C2.79178 9.85846 3.79619 8.87105 4.42153 8.23749Z' fill='%23EF7816'/%3E%3Cpath d='M3.3175 0.5C3.3175 0.5 4.07074 0.974982 4.05644 1.85657C4.04891 2.32221 3.81105 2.69657 3.63722 3.11133C3.48197 3.48181 3.45111 4.04536 3.45111 4.04536C3.45111 4.04536 2.93504 3.60244 2.8799 2.61998C2.85826 2.23445 3.06238 1.76794 3.16883 1.43391C3.33362 0.916707 3.3175 0.5 3.3175 0.5Z' fill='%23D10028'/%3E%3Cpath d='M8.78452 4.76726C8.78452 4.76726 9.4221 4.14279 9.2218 3.28216C9.11604 2.82756 8.64401 2.53023 8.33444 2.20272C8.01892 1.86894 7.87364 1.26581 7.87364 1.26581C7.87364 1.26581 7.53628 1.67787 7.74868 2.47591C7.88518 2.98884 8.31123 3.36044 8.48612 3.66524C8.75692 4.13696 8.78452 4.76726 8.78452 4.76726Z' fill='%23D10028'/%3E%3C/svg%3E%0A") no-repeat center center;
    content: "";
    width: 12px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 3px;
}

.bls__add-giftwrap.loading .loader-icon {
    opacity: 1;
}

.bls__add-giftwrap.loading>span:not(.loader-icon) {
    opacity: 0;
}

.bls-cart-footer {
    background: var(--light-grey-color);
    padding: 0 0 2rem;
}

.bls-cart-footer .bls__cart-addons {
    --btn-text-transform: capitalize;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid var(--border-color-base);
    margin-bottom: 2rem;

}

.bls__cart-addons>div {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;

}

.bls__cart-addons>div:not(:last-of-type)::after {
    content: "";
    height: 20px;
    border-right: 1px dashed var(--border-color-base);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bls__cart-addons>div:last-of-type {
    border: 0;
}

.bls__cart-addons button {
    background: none;
    border: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1;
    width: 100%;
    padding: 16.5px 20px;

}

.bls__cart-addons button:hover svg path {
    fill: var(--color-link);
}

.bls-cart-footer .bls__addon {
    background: var(--light-grey-color);
    bottom: 0;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-top: 1px solid var(--border-color-base);
    left: 0;
    padding: 3rem 3rem;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 100%, 0);
    transition: all .3s cubic-bezier(.43, .27, .36, .83);
    width: 100%;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


}

.bls-minicart-content::after {
    content: "";
    background: rgb(255 255 255 / 90%);
    opacity: 0;
    position: absolute;
    transition: var(--bls-transition);
    visibility: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.addons-open .bls-minicart-content::after {
    opacity: 1;
    visibility: visible;
}

.bls-cart-footer .bls__addon.is-open {
    pointer-events: auto;
    transform: translateZ(0);
}

.bls__addon-content input,
.bls__addon-content textarea {
    width: 100%;
}

.bls__addon-content textarea {
    min-height: 128px;
}

.bls__addon-actions {
    display: flex;
    flex-direction: column;

}

.bls__addon-message p {
    margin-bottom: 0.5rem;
}

.bls__addon-message p:last-child {
    margin-bottom: 0;
}

.bls__addon-message.warning,
.bls__addon-message.success,
.bls__addon-message.error {
    margin-top: 1rem;
}

.bls__addon-actions .btn-cancel {
    --btn-primary-bg: var(--border-color-base);
    margin-top: 1rem;
}

.bls__mini_cart-tool {
    text-align: center;
    font-size: 1.4rem;
}

.t4s-field span {
    font-weight: 500;
}

.t4s-field span .cd {
    font-weight: normal;
}

.bls__addon-content label {
    font-size: 1.4rem;
}

.bls__addon-title {
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--color-link);
    text-transform: capitalize;
}

.bls__addon-title svg {
    margin-right: 1rem;
}

.cart__blocks .discounts,
.bls-cart-discounts {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    text-align: right;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-transform: capitalize;
    color: var(--primary-color);
}

.bls-cart-discounts li,
.cart__blocks .discounts li {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.bls-cart-discounts li::before,
.cart__blocks .discounts li::before {
    content: "";
    background: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.32408 12.717L2.05742 11.4503C1.54076 10.9337 1.54076 10.0837 2.05742 9.567L3.32408 8.30032C3.54075 8.08365 3.71575 7.65865 3.71575 7.35865V5.56696C3.71575 4.83363 4.31575 4.23365 5.04909 4.23365H6.84075C7.14075 4.23365 7.56575 4.05867 7.78242 3.842L9.04908 2.57532C9.56574 2.05865 10.4158 2.05865 10.9324 2.57532L12.1991 3.842C12.4158 4.05867 12.8407 4.23365 13.1407 4.23365H14.9324C15.6658 4.23365 16.2657 4.83363 16.2657 5.56696V7.35865C16.2657 7.65865 16.4407 8.08365 16.6574 8.30032L17.9241 9.567C18.4408 10.0837 18.4408 10.9337 17.9241 11.4503L16.6574 12.717C16.4407 12.9337 16.2657 13.3587 16.2657 13.6587V15.4503C16.2657 16.1836 15.6658 16.7837 14.9324 16.7837H13.1407C12.8407 16.7837 12.4158 16.9587 12.1991 17.1753L10.9324 18.442C10.4158 18.9587 9.56574 18.9587 9.04908 18.442L7.78242 17.1753C7.56575 16.9587 7.14075 16.7837 6.84075 16.7837H5.04909C4.31575 16.7837 3.71575 16.1836 3.71575 15.4503V13.6587C3.71575 13.3504 3.54075 12.9254 3.32408 12.717Z' stroke='%23DD3842' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.5 13L12.5 8' stroke='%23DD3842' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.0786 12.5833H12.0861' stroke='%23DD3842' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.91209 8.41667H7.91957' stroke='%23DD3842' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 21px;
    height: 21px;
    display: inline-flex;
    align-items: center;
    margin-right: 0.5rem;
}

#coupon-messages input {
    width: 100%;
}

@media (max-width: 767px) {
    .cart_threshold {
        padding: 2.5rem 2rem 1rem;
    }

    .cart-countdown-time {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .bls-minicart-body .bls-items {
        padding: 0 2rem 1rem;
    }

    .bls-cart-summary {
        padding: 0 2rem;
    }

    .bls-drawer-bottom {
        padding: 0 2rem;
    }

    .bls-minicart-content .bls-minicart-header {
        padding: 1.2rem 2rem;
    }

    .bls-drawer-bottom {
        --btn-padding: 1.1rem 2.5rem;
    }

    .bls-cart-summary {
        margin-bottom: 1rem;
    }

    .bls-minicart-body .bls-items .cart-item {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
}

/* Page Shopping Cart
-----------------------------------------------------------------*/
.title-wrapper-with-link {
    margin: var(--spacing-title);
}

/* .cart__warnings,
.cart__contents {
    margin-bottom: calc(var(--space_between_section) - var(--bls-gutter-x, 0px));
} */
.cart-wrapper .page-title {
    --page-title-size: 4.5rem;
}

table.cart-items {
    text-align: left;
    margin: 0;
}

table.cart-items thead th {
    padding: 1.3rem 2rem;
    font-weight: 500;
    color: var(--color-link);
    border: 1px solid var(--border-color-base);
    border-bottom: 0;
}

table.cart-items tbody td {
    vertical-align: middle;
    padding: 2rem 2rem;
    border: 1px solid var(--border-color-base);
}

table.cart-items tbody td.cart-item__media {
    border-right: 0;
}

table.cart-items tbody td.cart-item__details {
    border-left: 0;
    padding-left: 0;
}

table.cart-items tbody td:last-child {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
table.cart-items tbody .cart-item__totals ,
table.cart-items tbody .cart-item__details{
    font-size: 1.4rem;
}

table.cart-items tbody .cart-item__totals {
    font-size: 1.4rem;
    color: var(--color-link);
}

.cart-item__details .cart-item__price-wrapper {
    margin-top: 5px;
}

.cart-item__details a {
    font-size: 1.6rem;
    margin: 0;
}

.cart-item__totals {
    font-weight: 500;
}

.cart-item__quantity-wrapper quantity-input:hover {
    border-color: var(--btn-link-color);
}

.cart-item__quantity-wrapper quantity-input {
    background-color: var(--light-grey-color);
}

.cart-item__quantity-wrapper input {
    --input-padding: 1rem 0.5rem;
    --input-height: 45px;
    width: 40px;
}

.cart-item__media {
    line-height: 0;
    width: 120px;
    max-width: 100%;
}

.cart-item__details dl .product-option {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--grey-color);
    margin-top: 0.2rem;
}

.cart-item__details .product-option dt {
    display: none;
}

.cart-item__details dl .product-option:not(:last-child)::after {
    content: "/";

    padding: 0 5px;
}

.cart-remove {
    font-size: 0;
    color: var(--grey-color);
}

.cart-remove:hover {
    color: var(--color-link);
}

.cart-remove span {
    font-size: 1.4rem;
}

.cart__footer {
    margin-top: 5rem;
}

.cart__footer-right-content{
    padding: 4rem 3rem 3rem;
    background-color: var(--light-grey-color);
    border-radius: 5px;
}
.cart__footer-right .cart_threshold {
    padding: 0 0 2rem 0;
    background: none;
}

.cart__footer-left .bls__mini_cart-tool {
    text-align: left;
    color: var(--grey-color);
    font-size: 1.6rem;
}

.cart__footer-left .bls__addon .field .cd {
    font-weight: 500;
    color: var(--color-link);
}

.cart__note label {
    margin-bottom: 1.5rem;
    display: block;
    text-transform: capitalize;
}

.cart__footer-left .cart__note textarea {
    min-height: 128px;
}

.tax-note {
    font-size: 1.4rem;
}

.cart__checkout-button {
    width: 100%;
}

.cart__blocks .totals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: var(--color-link);
    font-weight: 600;
}

.cart__ctas {
    margin-top: 2rem;
    --btn-font-size: 12px;
}

.cart__dynamic-checkout-buttons {
    margin-top: 0.7rem;
}

.cart__ctas .checkmark:before {
    background-color: var(--color-white);
}

.bls__terms-conditions a {
    text-decoration: underline;
}

#cart-errors {
    margin-top: 1.25rem;
}

.cart__blocks .totals p {
    margin-bottom: 0.5rem;
    line-height: 1;
}

.bls__cart-security-image>.label {
    color: var(--color-link);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bls__cart-security-image>.label svg {
    margin-right: 1rem;
}

.security-image {
    border: 1px solid var(--border-color-base);
    border-radius: 5px;
    overflow: hidden;
}

.cart__footer-left .js-contents {
    margin-bottom: 3rem;
}

@media (min-width: 992px) {
    .cart__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cart__footer-left {
        flex: 1;
    }

    .cart__footer-right {
        flex: 0 0 30%;
    }
    .cart__footer-right-content{
        max-width: 37rem;
        margin-left: 3rem;
    }

    cart-note.cart__note {
        max-width: 515px;
        display: block;
    }
    table.cart-items tbody td.cart-item__quantity {
        max-width: 255px;
    }
}

@media (max-width: 767px) {
    .cart__footer {
        margin-top: 3rem;
    }

    .cart-item__quantity-wrapper input {
        --input-height: 30px;
    }

    table.cart-items tbody .cart-item {
        display: block;
        border: 0;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--border-color-base);
        padding-left: 120px;
        position: relative;
        min-height: 140px;

    }

    /* table.cart-items tbody td:before {
        content: attr(data-title) "";
        margin-right: auto;
        padding-right: 1rem;
    } */
    table.cart-items tbody {
        display: block;
    }

    table.cart-items tbody td:not(.cart-item__media) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        border: 0;
        padding: 0 0 1rem;
    }
    table.cart-items tbody td.cart-item__quantity {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0;
    }
    table.cart-items tbody td.cart-item__details {
        padding-right: 2rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    table.cart-items tbody td:last-child {
        border: 0;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

    table.cart-items tbody td.cart-item__media {
        position: absolute;
        left: 0;
        top: 0;
        border: 0;
        padding: 0;
        width: 100px;
    }

    table.cart-items {
        display: block;
        border: 0;
    }

    table.cart-items thead {
        display: none;
    }
    .bls-minicart-actions .width-35 {
        width: 2.5rem;
    }

    .bls-minicart-actions .bls-quantity-input {
        width: 2rem;
    }
    .cart__footer-right-content{
        padding: 4rem 2rem 2rem;
    }
}

@media (max-width: 576px) {

    .cart__blocks,
    .cart__note {
        padding: 0 0 2rem 0;
        margin: 0;
        width: 100%;
    }
}
.cart__login-title{
    margin-top: 50px;
}
.cart__login-title,
.cart__login-paragraph{
    text-align: center;
}