.bls__lookbook-items {
    position: relative;
}

.lookbook-items-toggle {
    display: block;
    line-height: 1;
}

.bls__lookbook-items .icon-dot {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all ease .3s;
    background-color: var(--heading-color);
    fill: var(--color-white);
    font-family: var(--base-font-family) !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bls__lookbook-items .icon-dot.number {
    background-color: var(--color-white);
}

.bls__lookbook-items .icon-dot:not(.number):hover {
    background: var(--primary-color);
}

.bls__lookbook-items .icon-dot::before {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    display: block;
    -webkit-animation: zoompin 2s ease infinite;
    animation: zoompin 2s ease infinite;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 800px;
    perspective: 800px;
    background-color: rgba(255, 255, 255, .5);
    z-index: -1;
}

.bls__lookbook-items .icon-dot.number span {
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--heading-color);
    font-family: var(--base-font-family) !important;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    z-index: 3;
    transition: all ease .3s;

}

.bls__lookbook-items .icon-dot.number span:hover {
    background: var(--primary-color);
}

.lookbook__popup-items {
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    transition: none;
    width: 22rem;
}

.lookbook__popup-items .bls__product-item {
    --base-body-bg-color: var(--color-white);
    background: var(--base-body-bg-color);
    box-shadow: var(--bls-box-shadow);
    padding: 2rem;
    border-radius: 5px;

}

.lookbook__popup-items .bls__product-action {
    display: none !important;
}

.lookbook__popup-items .bls__product-item {
    z-index: 3;
}

.bls__lookbook-click {
    z-index: 3;
}

.bls__lookbook-click.active {
    z-index: 4;
}

.bls__lookbook-click .lookbook__popup-items {
    opacity: 0;
    visibility: hidden;
}

.bls__lookbook-click.active .lookbook__popup-items {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media (min-width: 767px) {
    .bls__product-item.active.top.center .lookbook__popup-items {
        bottom: 51px;
    }

    .bls__product-item.active.top.right .lookbook__popup-items {
        bottom: 51px;
        transform: translateX(0);
    }

    .bls__product-item.active.top.left .lookbook__popup-items {
        transform: translateX(0);
        left: auto;
        right: 0;
        bottom: 51px;
    }

    .bls__product-item.active.bottom.right .lookbook__popup-items {
        transform: translateX(0);
    }

    .bls__product-item.active.bottom.left .lookbook__popup-items {
        transform: translateX(0);
        left: auto;
        right: 0;
    }

    .bls__lookbook-click.bottom .lookbook__popup-items {
        margin-top: 1.8rem;
    }

    .bls__lookbook-click.bottom:before {
        border: solid transparent;
        border-width: 10px;
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        top: 100%;
        left: 50%;
        margin-left: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        transform-origin: 0;
        border-bottom-color: var(--color-white);
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .bls__lookbook-click.top:before {
        border: solid transparent;
        border-width: 10px;
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        bottom: 100%;
        left: 50%;
        margin-left: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        transform-origin: 0;
        border-top-color: var(--color-white);
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

}

@media (max-width: 767px) {
    .lookbook__popup-items {
        transition: var(--bls-transition);
    }

    .lookbook__popup-items {
        width: 23rem;
    }

    .lookbook__popup-items .bls__product-item {
        padding: 1.5rem;
        margin: 1rem 0;
    }
}