.bls__product-title {
    font-size: clamp(24px, 4.2vw, var(--bls__product-title-size, 24px));
    color: var(--bls__product-title-color, --heading-color);
    line-height: 1.4;
}

.bls__product-details-infor {
    --input-color: var(--heading-color);
    position: sticky;
    top: 80px;
}

.bls__zoom-image img {
    cursor: zoom-in;
}

.product__media-gallery {
    position: sticky;
    top: 30px;
}
/* Mobile */
.product__media-mobile .col_thumb .hover__show-nav .swiper-arrow{
    opacity: 1;
    visibility: visible;
    --swiper-pre-position: 2.5rem;
    --swiper-next-position: 2.5rem;
}
/* Swatch color */
.bls__product-details-infor .small.bls__product-color-swatches,
.compare-color-popup .small.bls__product-color-swatches {
    --color-swacth-width: 2.6rem;
    --color-swacth-height: 2.6rem;
}

.bls__product-details-infor .medium.bls__product-color-swatches,
.compare-color-popup .medium.bls__product-color-swatches {
    --color-swacth-width: 3rem;
    --color-swacth-height: 3rem;
}

.bls__product-details-infor .large.bls__product-color-swatches,
.compare-color-popup .large.bls__product-color-swatches {
    --color-swacth-width: 3.2rem;
    --color-swacth-height: 3.2rem;
}

.bls__product-details-infor .bls__product-label {
    margin-bottom: 0.5rem;
}

.bls__product-details-infor .bls__product-label>div {
    margin-top: -0.5rem;
}

/* Stock countdown */
.progressbar {
    height: 5px;
    border-radius: 10px;
    background-color: var(--border-color-base);
    position: relative;
}

.progressbar-stock {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: var(--primary-color);
}

/* Trust badge */
.trust_badge-text{
    white-space: nowrap;
}
.trust_badge-text.text__position-above {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.trust_badge-text.text__position-below {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(50%);
}

.bls__product-addons .product-information-buttons {
    text-transform: capitalize;
}

/* Product media */
.col_nav .product__media-list {
    --swiper-arrow-width: 3rem;
    --swiper-arrow-height: 3rem;
    --swiper-next-position: 0;
    --swiper-pre-position: 0;
}

.col_nav .product__media-list .gallery-img {
    position: relative;
}

.col_nav .product__media-list .gallery-img:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    border: 0px solid transparent;
    transition: var(--bls-transition);
    -webkit-transition: var(--bls-transition);
}

.col_nav .product__media-list .swiper-slide-thumb-active .gallery-img:before {
    border-width: 1px;
    border-color: var(--heading-color);
}

.bls__product-thumbnails-bottom .product__media-list,
.product__media-mobile .col_nav .product__media-list {
    margin-top: 1rem;
}

.bls__product-grid-1 .gallery-img:not(:last-of-type) {
    margin-bottom: 1rem;
}

/* Product 3d */
.product-single__media-wrapper.model .product-single__media {
    padding-bottom: 100%;
}

.product-single__media-wrapper.model .product-single__media:before {
    display: none;
}

@media (min-width: 992px) {

    .bls__product-thumbnails-left .product__media-desktop,
    .bls__product-thumbnails-right .product__media-desktop {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

.bls__product-thumbnails-left .product__media-desktop .col_thumb,
.bls__product-thumbnails-right .product__media-desktop .col_thumb {
    webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100% - 60px);
    -ms-flex: 0 0 calc(100% - 60px);
    flex: 0 0 calc(100% - 60px);
    max-width: calc(100% - 60px);
}

.bls__product-thumbnails-left .product__media-desktop .col_nav {
    order: -1;
    position: relative;
    flex: 1;
}

.bls__product-thumbnails-right .product__media-desktop .col_nav {
    position: relative;
    flex: 1;
}

.bls__product-thumbnails-left .product__media-desktop .col_nav .product__media-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    padding-right: 10px;
}

.bls__product-thumbnails-right .product__media-desktop .col_nav .product__media-list {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60px;
    padding-left: 10px;
}

.bls__product-gallery.bls__swiper-vertical,
.bls__product-thumbnails-left .col_nav .product__media-list,
.bls__product-thumbnails-right .col_nav .product__media-list {
    height: 100%;
}

.bls__product-thumbnails-left .col_nav .swiper-slide,
.bls__product-thumbnails-right .col_nav .swiper-slide {
    height: auto !important;
    cursor: pointer;
}

/* Video */
.product__media-list .plyr--video,
.product__media-list .shopify-model-viewer-ui,
.product__media-list .external_video iframe {
    position: absolute;
    inset: 0;
}

.product__media-list .shopify-model-viewer-ui model-viewer,
.product__media-list .external_video iframe {
    width: 100%;
    height: 100%;
}

.product__media-list .external_video .bls__responsive-image {
    --aspect-ratio: unset !important;
}

.product__media-list .external_video iframe {
    height: 100%;
}

button.product-single__view-in-space {
    display: none;
}

.product__media-list .plyr__control--overlaid {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.product__media-list .plyr__control--overlaid svg {
    width: 35px;
    margin: auto;
    height: 35px;
    padding-left: 1px;
}

.product__media-list .plyr__control--overlaid.plyr__tab-focus,
.product__media-list .plyr__control--overlaid:hover {
    color: var(--btn-primary-color-hover);
}

.col_nav .product__media-list .bls__media-image svg {
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 1;
    pointer-events: none;
}

.plyr--video .plyr__control:not(.plyr__control--overlaid).plyr__tab-focus svg,
.plyr--video .plyr__control:not(.plyr__control--overlaid):hover svg,
.plyr--video .plyr__control:not(.plyr__control--overlaid)[aria-expanded=true] svg,
.plyr--audio .plyr__control.plyr__tab-focus svg,
.plyr--audio .plyr__control:hover svg,
.plyr--audio .plyr__control[aria-expanded=true] svg {
    stroke: none;
}

.shopify-model-viewer-ui .shopify-model-viewer-ui__button.shopify-model-viewer-ui__button--poster[hidden] {
    display: none;
}

.shopify-model-viewer-ui .shopify-model-viewer-ui__controls-area {
    border-radius: 5px;
}

.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster {
    border-radius: 50%;
}

@media (min-width: 992px) {
    .bls__product-grid-2 .product__media-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}

.bls__product-slide-full .bls__product-details-infor>* {
    justify-content: center;
}
/* Share popup */
.share-popup .bls__share-copy{
    display: inline-flex;
}
/* Product tab */
.bls__product-details-infor .bls__product-tabs-content.hidden {
    display: none;
}

.nav-tabs li.item {
    text-transform: capitalize;
}

@media (min-width: 1025px) {

    .data.item.active a,
    .data.item:hover a {
        color: var(--heading-color);
    }

    .data.item a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 0;
        height: 2px;
        border-radius: 5px;
        background-color: var(--heading-color);
        transition: var(--bls-transition);
    }

    .data.item.active a:after {
        width: 100%;
    }
    .design-accordition .tab-panel {
        border: none;
    }
}

.tab-content .tab-panel {
    animation: fadeIn 1s forwards;
    -webkit-animation: fadeIn 1s forwards;
}

.txt_h_tab {
    padding: 10px 4.5rem 10px 1.5rem;
    min-height: var(--input-height);
    display: inline-flex;
    align-items: center;
    border-top: 1px solid var(--border-color-base);
}

@media (max-width: 1024px) {
    .nav-tabs {
        display: none;
    }
    .tab-content{
        border: 1px solid var(--border-color-base);
        border-radius: 5px;
    }
    .tab-content .tab-item:first-child .txt_h_tab{
        border-top: 0;
    }
    .tab-item.active .tab-panel {
        display: block;
    }

    .tab-panel {
        padding: 2.5rem 1.5rem;
        border-top: 1px solid var(--border-color-base);
        display: none;
    }
    .design-show_all .tab-panel{
        display: block;
        padding: 2.5rem 0 0;
    }
    .tab-panel #shopify-product-reviews {
        margin: 0;
    }
}

/* Tab type tab */
@media (min-width: 1025px) {

    .design-tab .tab-item {
        margin-bottom: 1.5rem;
    }

    .design-tab .tab-item:not(.active) {
        display: none;
    }

    .design-tab .tab-item:not(.active) .tab-panel {
        display: none;
    }

    .design-tab .data.accordition .txt_h_tab,
    .design-tab .data.accordition .open-children-toggle {
        display: none;
    }

    .design-accordition .tab-item:not(.active) .tab-panel {
        display: none;
    }

}

/* Tab type accordition */
.design-accordition .open-children-toggle {
    display: block;
}

.design-accordition .tab-item {
    margin-bottom: 0;

}

.design-accordition .tab-content {
    border: 1px solid var(--border-color-base);
    border-radius: var(--btn-border-radius);
    overflow: hidden;
}
.design-accordition .tab-content .tab-item:first-child .txt_h_tab{
    border-top: 0;
}
.design-accordition .tab-panel {
    padding: 3rem;
}

.design-accordition .txt_h_tab {
    background-color: var(--color-white);
    font-size: 1.6rem;
}

/* Tab show all */
.design-show_all .tab-content-all:not(:last-child) {
    margin-bottom: clamp(4rem, 4.5vw, 6rem);
}

/* Review */
body .spr-container {
    padding: 0;
    border: 0;
}

.spr-summary.rte {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.spr-summary.rte:after,
.spr-summary.rte:before {
    display: none;
}

.spr-container .spr-icon {
    margin-right: 1px;
    color: var(--heading-color);
}

.spr-summary.rte .spr-icon.spr-icon-star:before {
    font-size: clamp(1.6rem, 3vw, 2rem);
}

.spr-summary.rte .spr-icon-star-empty:before {
    font-size: clamp(1.6rem, 3vw, 2rem);
}

.spr-summary-actions {
    flex: 1;
}

.spr-summary-actions-newreview {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-color);
    border-color: var(--btn-secondary-color);
    font-weight: var(--btn-fon-weight);
    text-transform: var(--btn-text-transform);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-height);
    border-width: var(--btn-width-border);
    border-style: solid;
    border-radius: var(--btn-border-radius);
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--bls-transition);
    display: inline-block;
    padding: var(--btn-padding);
    font-family: var(--base-font-family);
}

.spr-summary-actions-newreview:hover {
    background-color: var(--btn-secondary-bg-hover);
    color: var(--btn-secondary-color-hover);
    border-color: var(--btn-secondary-bg-hover);
}

.spr-review:first-child {
    margin-top: 3.6rem;
}

.spr-review {
    position: relative;
    padding: 3rem 0 0;
    margin: 3rem 0 0;
    border-top: 1px dashed var(--border-color-base);
}

.spr-review-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.spr-starratings.spr-review-header-starratings {
    margin-right: 1rem;
}

.spr-review-header-title {
    margin-bottom: 5px;
}

.spr-review-header-byline {
    flex: 0 0 100%;
    width: 100%;
    color: var(--grey-color);
    font-size: var(--base-font-size);
    font-style: normal;

}

.spr-review-header-byline strong {
    color: var(--grey-color);
    font-weight: 400;
    text-transform: capitalize;
}

.spr-review-header .spr-icon.spr-icon-star:before,
.spr-review-header .spr-icon-star-empty:before {
    font-size: 1.4rem;
}

.spr-review-content-body {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}

.spr-review-footer.rte {
    position: absolute;
    z-index: 1;
    color: var(--grey-color);
    text-decoration: underline;
    top: 3.5rem;
    right: 0;
}

.spr-review-footer.rte .spr-review-reportreview {
    font-size: 12px;
    text-decoration: underline;
}

.spr-form-title {
    margin-bottom: 2rem;
    color: var(--heading-color);
}

.new-review-form .spr-form-label {
    color: var(--heading-color);
}

.new-review-form .spr-button-primary {
    margin-top: 1rem;
    float: none;
}



@media (min-width: 768px) {
    .spr-form-contact {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.5rem;
    }

    .spr-form-contact>* {
        flex: 0 0 auto;
        width: 50%;
        padding: 1.5rem;
    }
}

.spr-form-review-rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.spr-form-contact-name,
.spr-form-contact-email,
.spr-form-contact-location,
.spr-form-review-rating,
.spr-form-review-title,
.spr-form-review-body {
    margin: 0 0 20px 0;
}

.spr-form-review .spr-form-review-rating .spr-form-label {
    font-weight: var(--heading-font-weight);
    margin-right: 1.5rem;
    margin-top: 2px;
}

.spr-form-review-rating .spr-icon {
    font-size: 13px;
}

.spr-form-review-rating .spr-icon.spr-icon-star-empty {
    opacity: 1;
    color: #C8C8C8;
}

/* Sticky add to cart */
.sticky-addtocart-show {
    padding-bottom: 5.5rem;
}

@media (min-width: 1200px) {
    .sticky-addcart-opstion {
        min-width: 250px;
    }

    .product-form__buttons .product-form__submit {
        min-width: 250px;
    }
}
.sticky-addcart-product-form {
    --btn-padding: 1rem 5.5rem;
    --input-height: 43px;
}

.sticky-addcart-product-form quantity-input {
    --input-height: 43px;
}
@media (min-width: 1024px) {
    .sticky-addtocart-show {
        padding-bottom: 10rem;
    }
}

.sticky-addtocart-show #shopify-section-mobile-stickybar {
    display: none;
}

.bls__sticky-addcart {
    opacity: 0;
    visibility: hidden;
    transition: var(--bls-transition);
    -webkit-transition: var(--bls-transition);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.bls__sticky-addcart.sticky-addcart-show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.product-form__submit.btn-loading>span:not(.loader-icon) {
    opacity: 0;
}

@media (max-width: 767px) {
    .bls__sticky-addcart:not(.sticky-addcart-show) {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .bls__sticky-addcart {
        --input-height: 40px;
    }

    .product-form__buttons .min-height-50 {
        min-height: 4.5rem;
    }

    .product-form__buttons .m-width-50 {
        min-width: 4.5rem;
    }
}


@media (max-width: 479px) {

    .bls__product-add-cart,
    .product-form__buttons .min-height-50,
    .bls__product-add-cart .product-form__quantity {
        width: 100%;
    }

    .product-form__buttons .min-height-50 .quantity__input {
        flex: 1;
    }
}

@media (max-width: 576px) {
    .sticky-addcart-product-form form.form {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 0;
    }

    .sticky-addcart-product-form form.form select {
        height: 43px;
        flex: 0 0 35%;
    }

    .sticky-addcart-opstion~.product-form__buttons .product-form__quantity {
        display: none;
    }
    .sticky-addcart-product-form,
    .sticky-addcart-product-form .product-form,
    .sticky-addcart-product-form .product-form form,
    .sticky-addcart-product-form .product-form .product-form__submit{
        width: 100%;
    }
    .sticky-addcart-product-form .product-form .product-form__buttons {
        flex: 1;
    }
    .sticky-addcart-product-form .product-form .product-form__submit{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

#bls__product-bought-together {
    --input-border-radius: 3px;
}

#bls__product-bought-together .content-bought-together {
    border: 1px solid var(--border-color-base);
    border-radius: var(--btn-border-radius);
    padding: 3rem clamp(1.5rem, 3.5vw, 3rem);
    padding-top: 2.5rem;
    margin-top: 3rem;
}

.checkbought {
    --border-color-base: #DBDBDB;
    -btn-border-radius: 3px;
    background: #FFFFFF;
    border: 1px solid var(--border-color-base);
    border-radius: var(--btn-border-radius);
    width: 30px;
    height: 30px;
    display: inline-flex;
    margin-right: 1px;
    align-items: center;
    justify-content: center;
    transition: var(--bls-transition);
}

.product-bought-together-item.select .checkbought,
.product-item-checkbox:hover .checkbought {
    background-color: var(--light-grey-color);
}

.product-bought-together-item.select .product-item-checkbox .checkbought::before {
    transform: scale(1);
}

.product-item-checkbox .checkbought::before {
    content: "\e908";
    font-family: 'blueskytechco' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    transform: scale(0);
    transition: var(--bls-transition);
}

#bls__product-bought-together .product-bought-together-list::-webkit-scrollbar {
    height: 4px;
}

#bls__product-bought-together .product-bought-together-list::-webkit-scrollbar-thumb {
    background-color: var(--grey-color);
    border-radius: 10px;
}

#bls__product-bought-together .product-bought-together-item {
    min-width: 23rem;
}

#bls__product-bought-together .product-bought-together-item.main-product a {
    pointer-events: none;
}

#bls__product-bought-together .product-bought-together-item.main-product .checkbox-group {
    pointer-events: none;
    opacity: 0.7;
}

#bls__product-bought-together .variant-select {
    --input-height: 30px;
    --input-font-size: 1.4rem;
}

#bls__product-bought-together .total-product {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#bls__product-bought-together .total-product .price {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--primary-color);
}

#bls__product-bought-together .limited-line {
    line-height: 1;
}

#bls__product-bought-together .total-product .saved-price .price {
    font-size: 1.8rem;
}

#bls__product-bought-together .variant-select select {
    background-position: 90% 50%;
}

@media (max-width: 767px) {
    #bls__product-bought-together .product-bought-together-list {
        flex-direction: column;
    }

    #bls__product-bought-together .bought-together-container {
        flex-wrap: wrap;
    }

    #bls__product-bought-together .box-total {
        text-align: center;
    }

    #bls__product-bought-together .icon-plus {
        display: none;
    }

    .product-bought-together-item {
        min-width: auto;
        display: flex;
    }

    .product-bought-together-item:not(:last-child) {
        margin-bottom: clamp(1.5rem,3.5vw,3rem);
    }

    .product-bought-together-item .product-image {
        width: 90px;
    }

    .product-bought-together-item .product-info {
        overflow: hidden;
    }
}