/* STYLE RTL
-----------------------------------------------------------------*/

/* base reset
-----------------------------------------------------------------*/
select {
    background-position: 6% 50%;
    padding: 5px 12px 5px 27px;
}

.button-close {
    left: 25px;
    right: auto;
}

.checkmark:before {
    margin-left: 1.5rem;
    margin-right: 0;
}

.checkmark:after {
    left: auto;
    right: 7px;
    top: 5px;
}

.bls__canvas {
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    transition: var(--transition-popup);
    -webkit-transition: var(--transition-popup);
    box-shadow: 0 0 30px 0 #0000001a;
    transform: translate3d(-104%, 0, 0);
    -webkit-transform: translate3d(-104%, 0, 0);
}

.back-top {
    left: 3rem;
    right: auto;
    z-index: 4;
}

caption,
td,
th {
    text-align: right;
}

.errors,
.error {
    padding: 11px 4.5rem 11px 2rem;
    text-align: right;
}

.errors:before,
.error:before {
    right: 15px;
    left: auto;
}

.success {
    padding: 1.2rem 4.5rem 1.2rem 2rem;
}

.success:before {
    right: 15px;
    top: 18px;
    left: auto;
    transform: none;
}

.body-rtl .btn-link::before {
    right: 0;
    left: auto;
}

.pagination__list li a.pagination__item-arrow {
    transform: rotate(180deg);
}

.heading-title.search-result {
    direction: ltr;
}

@media (min-width: 1200px) {
    .h-count {
        right: 1.3rem;
        left: auto;
    }

    .body-rtl.hside_opened {
        padding-left: 1.7rem;
        padding-right: 0;
    }
}

@media (max-width: 1024px) {

    .bls__canvas-mb,
    .bls__canvas-mb-menu {
        left: 0;
        right: auto;
        transform: translate3d(-104%, 0, 0);
        -webkit-transform: translate3d(-104%, 0, 0);
    }

    .bls__canvas-mb-left {
        left: auto;
        right: 0;
        transform: translate3d(104%, 0, 0);
        -webkit-transform: translate3d(104%, 0, 0);
    }
}

.bls__canvas-left {
    right: 0;
    left: auto;
    transform: translate3d(104%, 0, 0);
    -webkit-transform: translate3d(104%, 0, 0);
}

@media (max-width: 1024px) {
    footer .back-top {
        left: 1rem;
        right: auto;
    }
}

/* header
-----------------------------------------------------------------*/
.topbar .col-left>*:not(:last-child),
.topbar .col-right>*:not(:last-child) {
    margin-left: 2.5rem;
    margin-right: 0;
}

.body-rtl .right-0 {
    text-align: left;
}

.header-middle .col-header-right>div {
    margin-left: 0;
    margin-right: 2rem;
}

.header-middle .col-header-right .header_search {
    margin: 0;
}

.body-rtl .h_layout2 .middle-top .disclosure .disclosure__list {
    left: auto;
    right: 0;
}

.body-rtl .h_layout2 .middle-top .col-header-left>*:not(:last-child) {
    margin-left: 2rem;
    margin-right: 0;
}

.h_layout3 .navigation:not(.v-menu) {
    margin-right: calc(var(--spacing-menu)*-1);
    margin-left: 0;
}

.body-rtl .select-selected .select-arrow {
    margin-right: 2rem;
    margin-left: 0;
}

.disclosure .disclosure__button {
    gap: 0 5px;
    display: inline-flex;
    align-items: center;
}

.dlg-close-x {
    left: 20px;
    right: auto !important;
}

.search-modal__form .field .search__input {
    padding: 1rem 2rem 1rem 5rem;
}

.search-modal__form .search__button {
    left: 0;
    right: auto;
}

.search-modal__form .field::after {
    left: 50px;
    right: auto;
}

.search_type_canvas .mini_search_header .button-close {
    left: auto;
}

/* footer
-----------------------------------------------------------------*/
.bls__form-submit svg {
    transform: rotate(180deg);
}

.open-children-toggle {
    left: 0;
    top: 0;
    right: auto;
}

.footer .open-children-toggle {
    left: 0;
    right: auto;
}

.body-rtl .bls__newsletter-form .form-action button {
    left: 0;
    right: auto;
}

.body-rtl .bls__newsletter-form .form-action input[type=email] {
    padding: 1rem 2rem 1rem 5rem;
}

/* menu
-----------------------------------------------------------------*/
.navigation .level0>a {
    display: inline-flex;
    align-items: center;
}

@media only screen and (min-width: 1025px) {
    .horizontal-list .level0.bls__menu-parent>a::after {
        margin-right: 5px;
    }

    .default_dropdown .submenu a {
        padding-right: 3rem;
        padding-left: 0.5rem;
    }
}

@media only screen and (max-width: 1024px) {

    .navigation .verticalmenu-html>ul>li a,
    .navigation .mobile-menu-content>ul>li a {
        padding: 1.7rem 0 1.7rem 4.5rem;
    }

    .navigation .mobile-menu-content .bls-menu-item>a,
    .navigation .mobile-menu-content .bls__menu_level1-heading,
    .navigation .mobile-menu-content a.level-1 {
        padding-right: 2.5rem;
    }

    .navigation .mobile-menu-content .submenu .sub-column a,
    .navigation .mobile-menu-content a.level-2 {
        padding-right: 3.5rem;
    }

    .navigation .mobile-menu-content a.level-3 {
        padding-right: 4.5rem;

    }

    .body-rtl .navigation .open-children-toggle {
        left: -15px;
        right: auto;
    }

    .body-rtl .close-menu-mobile {
        transform: translateX(-100%);
        left: -5px;
        right: auto;
    }
}

/* card
-----------------------------------------------------------------*/
.bls__addon-title svg {
    margin-left: 1rem;
    margin-right: 0;
}

.body-rtl .bls-cart-discounts li::before,
.body-rtl .cart__blocks .discounts li::before {
    margin-left: 0.5rem;
    margin-right: 0;
}

.body-rtl .bls-minicart-product-info {
    padding-left: 10px;
    padding-right: 0;
}

.body-rtl .bls-minicart-bottom {
    right: auto;
    left: 0;
    top: 0;
}

.bls-minicart-header .button-close {
    left: 15px;
    right: auto !important;
}

.body-rtl .cart__footer-left .bls__mini_cart-tool {
    text-align: right;
}

.body-rtl .cart_bar_w span::after {
    left: -43px;
    right: auto;
    transform: translateY(-50%) scale(-1, 1);
    transform: translate(50%, -50%) scale(-1, 1);
}

.cart_shipping_free .cart_bar_w span::after {
    left: -13px;
    right: auto;
}

.body-rtl .bls__cart-addons>div:not(:last-of-type)::after {
    right: auto;
    left: 0;
}

.body-rtl .cart-countdown-time .countdown-message {
    padding-right: 20px;
    padding-left: 0;
}

.body-rtl .cart-countdown-time .countdown-message::before {
    right: 0;
    left: auto;
}

.body-rtl table.cart-items tbody td.cart-item__media {
    border-left: 0;
}

.body-rtl table.cart-items tbody td.cart-item__details {
    border-right: 0;
    padding-right: 0;
}

@media (min-width: 992px) {
    .body-rtl .cart__footer-right {
        margin-right: 3rem;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .body-rtl table.cart-items tbody .cart-item {
        padding-right: 120px;
        padding-left: 0;
    }

    .body-rtl table.cart-items tbody td.cart-item__media {
        right: 5px;
        left: 0;
    }

    .body-rtl table.cart-items tbody td:last-child {
        right: auto;
        left: 0;
    }

    .body-rtl table.cart-items tbody td.cart-item__details {
        padding-left: 2rem;
        padding-right: 0;
    }

    .cart-item__details dl .product-option {
        margin-right: 1rem;
    }
}

.body-rtl .content-horizontal-position-left .bls__banner-text--content-inner {
    margin-left: auto;
    margin-right: 0;
}

.body-rtl .content-horizontal-position-right .bls__banner-text--content-inner {
    margin-right: auto;
    margin-left: 0;
}

.body-rtl .text-right .bls__banner-text--img {
    margin-right: auto;
    margin-left: 0;
}

.body-rtl .text-left .bls__banner-text--img {
    margin-left: auto;
    margin-right: 0;
}

/* collection all
-----------------------------------------------------------------*/
.body-rtl .filter-title .open-children-toggle:after {
    right: 96%;

}

.body-rtl .filter-title .open-children-toggle:before {
    right: 92%;
    left: auto;
}

.body-rtl .bls__link-filter .checkbox {
    margin-left: 10px;
    margin-right: 0;
}

.body-rtl .filter-content .bls__link-filter .count {
    padding-right: 5px;
    padding-left: 0;
}

.body-rtl .toolbar-sorter .select {
    margin-right: 5px;
    margin-left: 0;
}

.body-rtl .toolbar-sorter select {
    padding-left: 0;
}

.body-rtl .btn-filter::before {
    margin-left: 5px;
    margin-right: auto;
}

.body-rtl .bls__filter_remove_item a::after {
    margin-right: 5px;

}

.body-rtl .collection--empty .title svg {
    margin-left: 1rem;
    margin-right: 0;
}

.body-rtl .collection--empty .title a {
    padding-left: 0;
    padding-right: 1rem;
}

.body-rtl .facet-filters__label {
    margin: 0 0 0 15px;
}

.body-rtl .bls__product-list .bls_size-content,
.body-rtl .filter-content .swatch-option.size {
    margin: 0 0 10px 10px;
}

.body-rtl .filter-item .filter-content:not(.filter-banner)>*:not(.swatch-attribute) {
    margin-left: 8px;
    margin-right: 0;
}

.body-rtl .filter-current .filters li {
    margin-left: 1rem;
    margin-right: 0;

}

.body-rtl .select-custom .select__select {
    left: 0;
    right: auto;
    text-align: left;
}

.body-rtl .dropdonw_sidebar .btn-filter {
    margin-left: 2rem;
    margin-right: 0;
}

.body-rtl .collection-filter.filter_canvas {
    margin-left: 2rem;
    margin-right: 0;
}

@media (min-width: 576px) {
    .body-rtl .product-list .bls__product-list .bls__product-details {
        padding-right: 3rem;
        padding-left: 0;
    }
}

/* products
-----------------------------------------------------------------*/
.bls__product-option .bls__product-color-swatches:first-child {
    margin-right: 0;
}

@media (min-width: 992px) {
    .body-rtl .bls__product-style-1 .bls__product-action-inner {
        left: 0;
        right: auto;
    }

    .body-rtl .bls__product-style-1 .bls__product-img:hover .bls__product-action-inner {
        left: 1.5rem;
        right: auto;
    }
}

.body-rtl .bls__product-style-1 .bls__product-img .bls_tooltip:hover .bls_tooltip-content {
    --tooltip-transform: translateX(8px) translateY(50%);
}

.body-rtl .bls__product-style-1 .bls__product-img .bls_tooltip-content:before {
    --tooltip-transform: rotate(90deg) translateY(50%);
}

.body-rtl .bls__product-label {
    right: 1.5rem;
    left: auto;
}

.body-rtl .bls__product-price .compare-price {
    padding-right: 0.5rem;
    padding-left: 0;
}

.body-rtl .bls__wishlist-page-main:not(.bls__product-style-2) .bls__product-item .bls__product-action-inner {
    right: auto !important;
    left: 1.5rem !important;
}

.body-rtl .bls__product-style-2 .bls__product-action>*:only-child div:last-child .bls__product-icon,
.body-rtl .bls__product-style-2 .bls__product-addtocart .bls__product-icon {
    border-radius: 5px 0 0 5px;
}

.body-rtl .bls__product-style-2 .bls__product-action-inner>*:first-child .bls__product-icon {
    border-radius: 0 5px 5px 0;
}

.body-rtl .bls__compare-value .bls__compare-remove-js {
    left: 1.5rem;
    right: auto;
}

/* products detail
-----------------------------------------------------------------*/
.body-rtl .bls__product-thumbnails-left .product__media-desktop .col_nav .product__media-list {
    padding-left: 10px;
    padding-right: 0;
}

.body-rtl .bls__product-thumbnails-right .product__media-desktop .col_nav .product__media-list {
    padding-right: 10px;
    padding-left: 0;
}

.body-rtl .icon-chevron-left:before {
    content: "\e948";
}

.body-rtl .spr-badge-starrating {
    margin: 0 8px 0;
}

.body-rtl .spr-form-review .spr-form-review-rating .spr-form-label {
    margin-left: 1.5rem;
    margin-right: 0;
}

.body-rtl .spr-review-footer.rte {
    left: 0;
    right: auto;
}

.body-rtl .spr-starratings.spr-review-header-starratings {
    margin-left: 1rem;
    margin-right: 0;
}

.body-rtl #bls__product-bought-together .variant-select select {
    background-position: 10% 50%;
}

/* faqs
-----------------------------------------------------------------*/
@media (min-width: 992px) {
    .body-rtl .bls__faqs-right {
        padding-right: 8.6rem;
        padding-left: calc(var(--bs-gutter-x) * 0.5);
    }

    .body-rtl .bls__faqs-right:before {
        right: 3.6rem;
        left: auto;
    }
}

.body-rtl .bls__page-faq-title {
    padding-left: 30px;
    position: relative;
}

/* compare
-----------------------------------------------------------------*/
.body-rtl .bls__compare-row>div {
    border-left: 1px solid var(--border-color-base);
    border-right: 0;
}

.body-rtl .bls__your-addresses .form-field select {
    background-position: 2% 50%;
}

.body-rtl .spr-badge-starrating {
    margin: 0 0 0 3px;
}

/* popup
-----------------------------------------------------------------*/
.body-rtl #bls__fake-order.fake-order {
    right: 30px;
    left: auto;
}

.body-rtl .fake-order-close {
    right: auto;
    left: 10px;
}

.body-rtl .bls__before-product-title .count-product {
    margin-right: 10px;
    margin-left: 0;
}

.body-rtl .content-newsletter .do-not-show-again {
    left: 15px;
    right: auto;
}

.bls__newsletter-form .form-action input[type="email"] {
    padding: 1rem 2rem 1rem 5rem;
}

.bls__newsletter-form .form-action button {
    right: auto;
    left: 0;
}

@media (min-width: 576px) {
    .body-rtl .product-quick-edit-right {
        border-right: 1px dashed var(--border-color-base);
        border-left: 0;
        padding-right: 3rem;
        padding-left: 0;
    }
}

/* blog
-----------------------------------------------------------------*/
.blog-previous-next .next .label-np {
    display: flex;
    justify-content: flex-end;
}

.blog-previous-next .previous .label-np {
    display: flex;
}

.body-rtl .author-comment {
    margin-right: 10px;
}

/* faqs
-----------------------------------------------------------------*/
.body-rtl .bls__page-faq-items .bls__page-faq-title {
    padding-left: 5rem;
    padding-right: 0;
}

body .footer .disclosure__list {
    left: auto;
    right: 0;
}

.body-rtl .form-infor .close-form-info {
    right: auto;
    left: 10px;
}