.bls__page-scrolling-content>* {
    animation: ticker var(--text-time, 15s) infinite linear;
    flex-shrink: 0;
}

.bls__page-scrolling-content a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--s-text-color);
    font-weight: var(--text-font-weight);
    font-size: var(--text-font-size);
}

.bls__page-scrolling-content a .scroll-line {
    margin: 0 var(--text-spacing);
    margin-top: -3px;
}

.bls__page-scrolling-content a .scroll-line svg {
    fill: var(--s-text-color);
    stroke: var(--s-text-color);
}

.bls__page-scrolling-content:hover>* {
    animation-play-state: paused;
}