.video-container {
    height: var(--video-desktop-height);
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {
    .video-container {
        height: var(--video-desktop-height);
    }
}

@media (max-width: 767px) {
    .video-container {
        height: var(--video-mobile-height);
    }
}

.video-foreground,
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
        margin: 0 -1px;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

.bls__video-info {
    inset: 0;
    position: absolute;
    height: 100%;
    display: flex;
}

.full-width-content.bls__video-info {
    padding: 0 6rem;
}

.bls__video-info.position-lt {
    justify-content: flex-start;
    align-items: flex-start;
}

.bls__video-info.position-lc {
    justify-content: flex-start;
    align-items: center;
}

.bls__video-info.position-lb {
    justify-content: flex-start;
    align-items: flex-end;
}

.bls__video-info.position-rt {
    justify-content: flex-end;
    align-items: flex-start;
}

.bls__video-info.position-rc {
    justify-content: flex-end;
    align-items: center;
}

.bls__video-info.position-rb {
    justify-content: flex-end;
    align-items: flex-end;
}

.bls__video-info.position-ct {
    justify-content: center;
    align-items: flex-start;
}

.bls__video-info.position-cc {
    justify-content: center;
    align-items: center;
}

.bls__video-info.position-cb {
    justify-content: center;
    align-items: flex-end;
}

.bls__video-info .bls__section-heading {
    --font-h3: 8rem;
    font-size: clamp(4rem, 5vw, var(--font-h3));
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

.bls__video-info .bls__section-subtext {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.bls__video-info .bls__section-link {
    margin-top: clamp(2.5rem, 5vw, 4.5rem);
}

.text-white.bls__video-info .bls__section-link a {
    color: var(--heading-color);
    background-color: var(--color-white);
    border-color: var(--color-white);
}

.bls__video-info .btn-play {
    font-size: 0;
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    height: clamp(4rem, 5vw, 8rem);
    justify-content: center;
    width: clamp(4rem, 5vw, 8rem);
    transition: all .3s cubic-bezier(.43, .27, .36, .83);
    background-color: var(--color-white);
    margin-bottom: clamp(1rem, 5vw, 2.5rem);
    border: 1px solid;

}

.bls__video-info .btn-play svg {
    height: 16px;
    margin-left: 2px;
    width: 16px;
}

.bls__video-info .btn-play svg path {
    fill: var(--color-link);
}

@media (max-width: 767px) {

    .bls__video-popup .bls__video-thumb {
        position: absolute;
        inset: 0;
    }

    .bls__video-popup .bls__video-thumb .bls__responsive-image {
        position: absolute;
        inset: 0;

    }

    .bls__video-popup .bls__video-thumb .bls__responsive-image::before {
        display: none;
    }

    .bls__video-popup .bls__video-info {
        position: relative;
        z-index: 4;
    }

    .bls__video-popup .full-width-content.bls__video-info {
        padding: 0 2rem;
    }

}